.navbar {
    background: #5c7bae;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;   /* đổi từ center → space-between */
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}   

.nav-center {
    display: flex;
    align-items: center;
    gap: 80px;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-icon {
    width: 20px;   /* Giảm số này nếu muốn nhỏ hơn */
    height: 20px;
}

.nav-logo {
    width: 80px;   /* Giảm số này nếu muốn nhỏ hơn */
    height: 80px;
}
.login-btn {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    display: flex;              /* Cho icon + text nằm cùng hàng */
    align-items: center;
    gap: 8px;                   /* Khoảng cách icon <-> text */
    transition: 0.3s;
}

.login-icon {
    width: 20px;
    height: 20px;
}

.nav-right .login-btn {
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.nav-right .login-btn:hover {
    background: #D1D3D4;
    transform: translateY(-2px);
}

.nav-menu li a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 1.1rem;
	padding: 8px 15px;
	border-radius: 5px;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	gap: 5px;
}

.nav-menu li a:hover {
	background: rgba(255, 255, 255, 0.381);
	transform: translateY(-2px);
}


.nav-menu li a.active {
	background: rgba(255,255,255,0.3);
}

@media (max-width: 768px) {
	.nav-center { gap: 20px; }
	.nav-menu { gap: 15px; flex-wrap: wrap; justify-content: center; }
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Nút bấm */
.dropdown-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

.dropdown-btn .icon {
    width: 20px;
}

/* Menu ẩn mặc định */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    background: white;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    border-radius: 6px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
    min-width: 150px;
    z-index: 999;
}

/* Từng mục trong dropdown */
.dropdown-menu li {
    width: 100%;
}

.dropdown-menu li a {
    display: block;
    padding: 8px 12px;
    color: black;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background: #eeeeee;
}

/* Khi hover vào nút hay menu → hiện menu */
.dropdown:hover .dropdown-menu {
    display: block;
}