<nav class="navbar">
    <div class="nav-left"></div> <!-- để giữ bố cục cân giữa -->

    <div class="nav-center">
        <ul class="nav-menu">
 
            <li><a href="homepage.html">
                <img src="../../images/homeicon.png" class="nav-icon"> Trang chủ
            </a></li>

            <li><a href="rec_accomodation.html">
                <img src="../../images/idea.png" class="nav-icon"> Gợi ý  
            </a></li>

            <li><a href="#favorites">
                <img src="../../images/like.png" class="nav-icon"> Yêu thích
            </a></li>

            <li><a href="#help">
                <img src="../../images/help.png" class="nav-icon"> Giúp đỡ
            </a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-btn">
                    <img src="../../images/translation.png" class="icon"> Dịch 🔽
                </a>

                <ul class="dropdown-menu">
                    <li><a href="#" onclick="translatePage('en')">English</a></li>
                    <li><a href="#" onclick="translatePage('vi')">Tiếng Việt</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="nav-right">
        <a href="#login" class="login-btn">
            <img src="../../images/login.png" class="login-icon">
            Đăng nhập
        </a>
    </div>
</nav>
