<nav class="navbar">
    <div class="nav-left"></div> 
    <div class="nav-center">
        <ul class="nav-menu">
            <li><a href="index.html">
                <img src="images/homeicon.png" class="nav-icon"> 
                <span data-i18n="nav_home">Trang chủ</span>
            </a></li>

            <li><a href="rec_accomodation.html">
                <img src="images/idea.png" class="nav-icon"> 
                <span data-i18n="nav_suggestions">Gợi ý</span>
            </a></li>

            <li><a href="favorite.html">
                <img src="images/like.png" class="nav-icon"> 
                <span data-i18n="nav_favorite">Yêu thích</span>
            </a></li>

            <li><a href="help.html">
                <img src="images/help.png" class="nav-icon"> 
                <span data-i18n="nav_help">Giúp đỡ</span>
            </a></li>

            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-btn">
                    <img src="images/translation.png" class="icon" style="width:20px; height:20px;"> 
                    <span data-i18n="nav_language">Dịch</span> 🔽
                </a>

                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)" onclick="changeLanguage('en')">English</a></li>
                    <li><a href="javascript:void(0)" onclick="changeLanguage('vi')">Tiếng Việt</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="nav-right">
       <a href="login.html" class="login-btn">
            <img src="images/login.png" class="login-icon">
            <span data-i18n="nav_login">Đăng nhập</span>
        </a>
    </div>
</nav>