<nav class="navbar">
    <div class="nav-left"></div> <!-- để giữ bố cục cân giữa -->

    <div class="nav-center">
        <ul class="nav-menu">
            <li><a href="#home">
                <img src="images/homeicon.png" class="nav-icon"> Trang chủ
            </a></li>

            <li><a href="#suggestions">
                <img src="images/idea.png" class="nav-icon"> Gợi ý
            </a></li>

            <li><a href="#favorites">
                <img src="images/like.png" class="nav-icon"> Yêu thích
            </a></li>

            <li><a href="#help">
                <img src="images/help.png" class="nav-icon"> Giúp đỡ
            </a></li>

            <li><a href="#translates">
                <img src="images/translation.png" class="nav-icon"> Dịch
            </a></li>
        </ul>
    </div>

    <div class="nav-right">
        <a href="#login" class="login-btn">
            <img src="images/avatar.png" class="login-icon">
            Đăng nhập
        </a>
    </div>

</nav>
